1. Write a program to reverse a string.

In [13]:
#Using slicing reversing the string, returns reversed string
def revString(string: str):
    return string[::-1]

# Take a string as input
string = input("Enter the string you want to reverse")

# printing the reversed string
print("The reversed string is: {}".format(revString(string)))

Enter the string you want to reverse Hi how ar eyou

The reversed string is: uoye ra woh iH

2. Check if a string is a palindrome.

In [16]:
#This function checks if sting is palindrome or not
def checkPalindrome(string: str):
    if (string.lower() == string[::-1].lower()):
        return ("It is a palindrome")
    else:
         return ("Not a palindrome")
        
# Take a string as input    
string = input("Input the string you want to check for palindrome")

#printing the result
print(str(checkPalindrome(string)))

Input the string you want to check for palindrome hello

Not a palindrome

3. Convert a string to uppercase.

In [19]:
# function returns string in upper case
def convertUpper(string: str):
    return string.upper()

# Take a string as input  
string = input("Enter the string you want to convert to uppercase")

#print the result
print("The string in upper case is: {}".format(convertUpper(string)))

Enter the string you want to convert to uppercase hi, how are you

The string in upper case is: HI, HOW ARE YOU

4. Convert a string to lowercase.

In [21]:
# function returns string in lower case
def convertLower(string: str):
    return string.lower()

# Take a string as input  
string = input("Enter the string you want to convert to uppercase")

#print the result
print("The string in upper case is: {}".format(convertLower(string)))

Enter the string you want to convert to uppercase Hi, how are You

The string in upper case is: hi, how are you

5. Count the number of vowels in a string.

In [33]:
#It returns the count of the vowels in string
def countVowels(string: str):
    vowels = ('a','e','i','o','u')
    c = 0
    for x in string.lower():
        if x in vowels:
            c += 1
    return c
# Taking the string as input
string = input("Enter the string in which you want to count vowels")

#Print the result
print("Number of vowels in string are: {}".format(countVowels(string)))

Enter the string in which you want to count vowels Hi, how are you

Number of vowels in string are: 6

6. Count the number of consonants in a string.

In [34]:
#It returns the count of the consonants in string
def countConsonants(string: str):
    vowels = ('a','e','i','o','u')
    c = 0
    for x in string.lower():
        if x not in vowels:
            c += 1
    return c
# Taking the string as input
string = input("Enter the string in which you want to count vowels")

#Print the result
print("Number of vowels in string are: {}".format(countConsonants(string)))

Enter the string in which you want to count vowels Hi, how are you

Number of vowels in string are: 9

7. Remove all whitespaces from a string.

In [36]:
# function takes string as an argument and returns string withour widespace
def removeWidespaces(string: str):
    c = ''
    for x in string:
        if x != ' ':
            c = c + x
        else:
            continue
    return c

#Take string as input
string = input("Enter the string from which you want to remove whitespaces")

#printing the result
print("The string after removing widespaces is: {}".format(removeWidespaces(string)))

Enter the string from which you want to remove whitespaces hi, how   are you

The string after removing widespaces is: hi,howareyou

8. Find the length of a string without using the `len()` function.

In [37]:
#function takes string as an argument and returns length of it
def lenString(string: str):
    c = 0
    for x in string:
        c += 1
    return c

#Taking string as input
string = input("Enter the string you want to calculate length")

#printing the result
print("The length of string is: {}".format(lenString(string)))

Enter the string you want to calculate length Hi, how are you

The length of string is: 15

9. Check if a string contains a specific word.

In [40]:
#function takes string and a word as an argument and returns if the word is present in string 
def isPresent(string: str, word: str):
    if word in string:
        return (True)
    else:
        return (False)
    
#Taking inputs from user
string = input("Enter the string you want to check for")
word = input("Enter the word you want to check for")

#printing the result
print("It is {} that word {} is present in string: {}".format(isPresent(string,word), word, string))

Enter the string you want to check for Hi, how are you
Enter the word you want to check for how

It is True that word how is present in string: Hi, how are you

10. Replace a word in a string with another word.

In [42]:
#This function takes string, old word and new word as an argument and returns new string with replaced word
def replaceWord(string: str, oldword: str, newword: str):
    return string.replace(oldword, newword)

#Taking string, the word to be replaced and newword as input from user
string = input("Enter the string you want to replace a word")
oldword = input("Enter the word you want to replace")
newword = input("Enter the word you want to place")

#print the result
print("The new string is: {}".format(replaceWord(string, oldword, newword)))

Enter the string you want to replace a word Python is beautiful
Enter the word you want to replace beautiful
Enter the word you want to place awesome

The new string is: Python is awesome

11. Count the occurrences of a word in a string.

In [46]:
#It returns the number of times a word has occured in a string
def countOccurence(string:str, word:str):
    return string.count(word)

#Taking input from user
string = input("Enter the string you want to check for")
word = input("Enter the word you want to check for")

#print the result
print("Word '{}' has occured {} times in string".format(word, countOccurence(string, word)))

Enter the string you want to check for hi, how are you how
Enter the word you want to check for how

Word 'how' has occured 2 times in string

12. Find the first occurrence of a word in a string.

In [48]:
#function takes string and word as argument and returns index of the word
def firstOccurence(string:str, word:str):
    return string.index(word)

#taking input from user
string = input("Enter the string you want to check for")
word = input("Enter the word you want to check for first occurence")

#printing the result
print("First occurence of  word '{}' is at index {}".format(word, firstOccurence(string, word)))

Enter the string you want to check for Hi, how are you
Enter the word you want to check for first occurence how

First occurence of  word 'how' is at index 4

13. Find the last occurrence of a word in a string.

In [51]:
#function takes string and word as argument and returns index of the word
def lastOccurence(string:str, word:str):
    return string.rindex(word)

#taking input from user
string = input("Enter the string you want to check for")
word = input("Enter the word you want to check for first occurence")

#printing the result
print("Last occurence of  word '{}' is at index {}".format(word, lastOccurence(string, word)))

Enter the string you want to check for Hi, how are you how
Enter the word you want to check for first occurence how

Last occurence of  word 'how' is at index 16

14. Split a string into a list of words.

In [52]:
#function takes string as input and returns a list of words
def listWords(string:str):
    return string.split()

#Takes string as input
string = input("Enter the string you want to check for")

#print the result
print("The list of words is: {}".format(listWords(string)))

Enter the string you want to check for Hi, how are you

The list of words is: ['Hi,', 'how', 'are', 'you']

15. Join a list of words into a string.

In [53]:
#function takes list as input and converts them to string
def joinWord(lst: list):
    return ' '.join(lst)

#Takes input from user
string = input("Enter the string you want to check for")
string = string.split()


#prints the result
print("The resultant string is: {}".format(joinWord(string)))

Enter the string you want to check for Hi, how are you

The resultant string is: Hi, how are you

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [2]:
#functioin takes string, old char and new char as argument
def replace_char(string, oldchar, newchar):
    return string.replace(oldchar, newchar)

#String to be changed
string = input("Enter the string you want to replace spaces")

#printing the final result
print(replace_char(string, ' ','_'))

Enter the string you want to replace spaces Hi, hohw are you

Hi,_hohw_are_you

17. Check if a string starts with a specific word or phrase.

In [6]:
# funtion takes string and word as argument and returns if string starts with word or not 
def start_with(string, word):
    if(string.startswith(word)):
        return True
    else:
        return False

# Taking input from user
string = input("Enter the string you want to check for")
word = input("Enter the word you want to check for")

#printing the final result
print("The given string: {} starts with the word: {} -> {}".format(string, word, start_with(string, word)))

Enter the string you want to check for Hi how are you
Enter the word you want to check for Hi

The given string: Hi how are you starts with the word: Hi -> True

18. Check if a string ends with a specific word or phrase.

In [7]:
# funtion takes string and word as argument and returns if string starts with word or not
def end_with(string, word):
    if(string.endswith(word)):
        return True
    else:
        return False

# Taking input from user
string = input("Enter the string you want to check for")
word = input("Enter the word you want to check for")

#printing the final result
print("The given string: {} ends with the word: {} -> {}".format(string, word, end_with(string, word)))

Enter the string you want to check for Hi how are you
Enter the word you want to check for you

The given string: Hi how are you ends with the word: you -> True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [9]:
#function takes input as string and returns the stirng in title case
def title_case(string):
    return string.title()

#taking input from user
string = input("Enter the string you want to convert")

#printing the output
print("The output string in title case is: {}". format(title_case(string)))

Enter the string you want to convert Hi, how are you

The output string in title case is: Hi, How Are You

20. Find the longest word in a string.

In [11]:
#function takes string as input and retuns the longest word in stirng 
def long_str(string):
    c = 0
    word = ''
    for x in string.split():
        if len(x) > c:
            c = len(x)
            word = x
        else:
            continue
    return word

#taking input from user
string = input("Enter the string you want to check for")

#printing th result
print("The longest word in string is: {}".format(long_str(string)))

Enter the string you want to check for Hi, how are you bros

The longest word in string is: bros

21. Find the shortest word in a string.

In [13]:
#function takes string as input and returns the shortest word
def short_str(string):
    word = ''
    c = 10000000000
    for x in string.split():
        if len(x) < c:
            c = len(x)
            word = x
        else:
            continue
    return word

#taking input from user
string = input("Enter the string you want to check for")

#printing the result
print("The shortest word in string is:{}".format(short_str(string)))

Enter the string you want to check for Hi how are you

The shortest word in string is:Hi

22. Reverse the order of words in a string.

In [14]:
#a function takes string as input and retuns reversed string
def rev_order(string):
    a = string.split()[::-1]
    a = " ".join(a)
    return a

#taking input form user
string = input("Enter the string you want to reverse")

#printing the output
print("The reversed string is: {}".format(rev_order(string)))

Enter the string you want to reverse Hi, how are you

The reversed string is: you are how Hi,

23. Check if a string is alphanumeric.

In [16]:
#function takes string as input and returns is it is alphanumeric
def alpha_num(string):
    if string.isalnum():
        return True
    else:
        return False
    
   
#taking in put from user
string = input("Enter the string you want to check")

#printing the result
print("The given string is alphanumeric : {}".format(alpha_num(string)))

Enter the string you want to check 324h

The given string is alphanumeric : True

24. Extract all digits from a string.

In [17]:
# function takes string as input and returns list of digits as output
def extract_dig(string):
    l = []
    for x in string:
        if x.isdigit():
            l.append(x)
        else:
            continue
    return l

#taking input form user
string = input("Enter the string you want to extract digits from")

#printing the result
print("The digits are: {}".format(extract_dig(string)))

Enter the string you want to extract digits from hi32 how34 132are 34y3o3u

The digits are: ['3', '2', '3', '4', '1', '3', '2', '3', '4', '3', '3']

25. Extract all alphabets from a string.

In [18]:
# function takes string as input and retuns the alphabets 
def extract_alpha(string):
    c = ''
    for x in string:
        if x.isalpha() or x == ' ':
            c = c+x
        else:
            continue
    return c

#taking input form user
string = input("Enter the string you want to extract alphabets from")

#printing the result
print("The string is: {}".format(extract_alpha(string)))

Enter the string you want to extract alphabets from H2i h2o2w a4r9e 41y3o34u

The string is: Hi how are you

26. Count the number of uppercase letters in a string.

In [19]:
#funtion takes string as input and returns the count of uppercase letters
def uppercase_letters(string):
    c = 0
    for x in range(len(string)):
            if string[x].isupper():
                c +=1
    return c

#taking input form user
string = input("Enter the string you want to count uppercase letters")

#printing the result
print("No of Upper case letters in string is: {}".format(uppercase_letters(string)))

Enter the string you want to count uppercase letters Hi How Are yOU

No of Upper case letters in string is: 5

27. Count the number of lowercase letters in a string.

In [21]:
#funtion takes string as input and returns the count of lowercase letters
def lowercase_letters(string):
    c = 0
    for x in range(len(string)):
            if string[x].islower():
                c +=1
    return c

#taking input form user
string = input("Enter the string you want to count lowercase letters")

#printing the result
print("No of Lower case letters in string is: {}".format(lowercase_letters(string)))

Enter the string you want to count lowercase letters Hi hOW Are you

No of Lower case letters in string is: 7

28. Swap the case of each character in a string.

In [22]:
#function takes string as input as swaps the case
def swap_case(string):
    a = ''
    for x in range(len(string)):
            if string[x].islower():
               a = a + string[x].upper()
            else:
               a = a + string[x].lower()
    return a

#taking input from user
string = input("Enter the string you want to swap case of")

#printing the result
print("The swap case fo string is: {}".format(swap_case(string)))

Enter the string you want to swap case of Hi how are you

The swap case fo string is: hI HOW ARE YOU

29. Remove a specific word from a string.

In [24]:
# function takes string as input and removes a specific word
def rem_word(string):
    l=[]
    a = string.split()
    for x in a:
        if x != word:
            l.append(x)
        else:
            continue
    return (" ".join(l))

#taking input from user
string = input("Enter the string from which you want to remove the word")
word = input("Enter the word you want to remove")

#printing the output
print("The new string is: {}".format(rem_word(string)))

Enter the string from which you want to remove the word Hi, how are you
Enter the word you want to remove are

The new string is: Hi, how you

30. Check if a string is a valid email address.

In [27]:
#importing regex module
import regex as re

#functino takes string and regex as input and check if the email is valid
def valid_email(string, regex):
    if re.fullmatch(regex,string):
        return "Valid Mail"
    else:
        return "Invalid email"

#taking input from user
string = input("Enter the email you want to validate")
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'

#printng the output
print("The given mail is: {}".format(valid_email(string, regex)))

Enter the email you want to validate krishnaik@ineuron.ai

The given mail is: Valid Mail

31. Extract the username from an email address string.

In [28]:
# function takes input as string and returns the username
def extract_username(string):
    return string.split('@')[0]

#takig input from user
string = input("Enter the email you want username from")

#printing the result
print("The username is: {}".format(extract_username(string)))

Enter the email you want username from pwskills@gmail.com

The username is: pwskills

32. Extract the domain name from an email address string.

In [29]:
# function takes input as string and returns the domainname
def extract_domainname(string):
    return string.split('@')[1]

#takig input from user
string = input("Enter the email you want username from")

#printing the result
print("The username is: {}".format(extract_domainname(string)))

Enter the email you want username from pwskills@gmail.com

The username is: gmail.com

33. Replace multiple spaces in a string with a single space.

In [31]:
#function takes string as input and returns widespaces removed string
def remove_spaces(string):
    c = ''
    for i in string.split():
        if i != ' ':
            c = c + i + " "
        else:
            continue
    return c

#taking input from user
string = input("Enter the stirng in which you want to remove extra spaces:")

#printing the output
print("The correct string is: {}".format(remove_spaces(string)))

Enter the stirng in which you want to remove extra spaces: Hi  how  are  you

The correct string is: Hi how are you

34. Check if a string is a valid URL.

In [11]:
import validators
string = input("Enter the url you want to check:")
validation = validators.url(string)
if validation:
    print("Valid")
else:
    print("Invalid")

Enter the url you want to check: https://www.youtube.com/

Valid

35. Extract the protocol (http or https) from a URL string.

In [13]:
string = input("Enter the url you want protocol of")
print(string.split(':')[0])

Enter the url you want protocol of https://www.youtube.com/

https


36. Find the frequency of each character in a string.

In [40]:
string = input("Enter the string you want to count frequency for")
dicti = {}
for i in string:
    if i in dicti:
        dicti[i] += 1
    else:
        dicti[i] = 1
        
for key, value in dicti.items():
    print(f"Character '{key}': Count '{value}'".format(key,value))

Enter the string you want to count frequency for hi how are you

Character 'h': Count '2'
Character 'i': Count '1'
Character ' ': Count '3'
Character 'o': Count '2'
Character 'w': Count '1'
Character 'a': Count '1'
Character 'r': Count '1'
Character 'e': Count '1'
Character 'y': Count '1'
Character 'u': Count '1'

37. Remove all punctuation from a string.

In [42]:
string = input("Enter the string you want to remove punctuation from")
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in string:
    if i in punc:
        string = string.replace(i,"")
print(string)

Enter the string you want to remove punctuation from hi! how? are you

hi how are you

38. Check if a string contains only digits.

In [45]:
string = input("Enter the string you want to check only for digits")
if string.isnumeric():
    print(True)
else:
    print(False)

Enter the string you want to check only for digits kjflwek2

False

39. Check if a string contains only alphabets.

In [47]:
string = input("Enter the string you want to check only for alphabes")
if string.isalpha():
    print(True)
else:
    print(False)

Enter the string you want to check only for alphabes hi 3 how are oyu

False

40. Convert a string to a list of characters.

In [49]:
string = input("Enter the string you want to convert to list of characters")
[i for i in string]

Enter the string you want to convert to list of characters Hi how are you

['H', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u']

41. Check if two strings are anagrams.

In [41]:
string = input("Enter the string you want to check for anagrams")
string1 = input("Enter the other string you want to check for anagrams")

x = [string[i] for i in range(len(string))]
x.sort()
y = [string1[i] for i in range(len(string1))]
y.sort()

if(x==y):
     print(True)
else:
     print(False)

Enter the string you want to check for anagrams hi bro how are you
Enter the other string you want to check for anagrams hi how are you bro

True

42. Encode a string using a Caesar cipher.

In [19]:
string = input("Enter the string you want to convert to ceaser cipher")
s = 3
newstr = ''
for i in range(len(string)):
    char = string[i]
    
    if(char.isupper()):
        newstr += chr((ord(char) + s -65)%26+65)
    else:
        newstr += chr((ord(char) + s - 96) % 26 + 97)  
print(newstr)

Enter the string you want to convert to ceaser cipher CEASER cipher

FHDVHUrgmtliv

43. Decode a Caesar cipher encoded string.

In [25]:
string = input("Enter the string you want to convert from ceaser cipher")
alphabets = "abcsefghijklmnopqrstuvwxyz"
dec_msg = ""
s = 3

for i in string:
    if i in alphabets:
        pos = alphabets.find(i)
        new_pos = (pos - s)%26
        new_char = alphabets[new_pos]
        dec_msg += new_char
    else:
        dec_msg += i
print(dec_msg)

Enter the string you want to convert from ceaser cipher FHDVHUrgmtliv

FHDVHUosjqifs

44. Find the most frequent word in a string.

In [11]:
from collections import Counter
import regex as re
string = input("Enter the string you want to check most frequent character from")
string = re.sub(r'[^\w\s]','',string)

word_counter = Counter(string.split())
print(word_counter.most_common(1)[0][0])

Enter the string you want to check most frequent character from hi how are you hi how are you hi

hi

45. Find all unique words in a string.

In [26]:
from collections import Counter
import regex as re
string = input("Enter the string you want to find most unique word in string")
string = re.sub(r'[^\w\s]','',string)

word_counter = Counter(string.split())
for i in word_counter.most_common():
    if(i[1] == 1):
        print(i[0])

Enter the string you want to find most unique word in string hi how are you hi how are you hi ok

ok

46. Count the number of syllables in a string.

In [6]:
import re

def syllable(string):
    string = re.findall(r'[aeiou]+',string, re.IGNORECASE)
    return len(string)

string = input("Enter the string you want to check for syllable")
print(f"Word is {string} and syllable count is {syllable(string)}")

Enter the string you want to check for syllable hello

Word is hello and syllable count is 2

47. Check if a string contains any special characters.

In [47]:
import re
string = input("Enter the string for checking special characters")
pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
print(bool(pattern.search(string)))

Enter the string for checking special characters Hello, world!

True

48. Remove the nth word from a string.

In [7]:
string = input("Enter the string for removing nth word")
n = int(input("Enter the postition whose word you want to remove"))
        
a = string.split()
a.pop(n-1)
print(' '.join(a))

Enter the string for removing nth word hi how are you2
Enter the postition whose word you want to remove 2

hi are you2

49. Insert a word at the nth position in a string.

In [1]:
string = input("Enter the string for inserting nth word")
n = int(input("Enter the postition whose word you want to insert"))
word = input("Enter the word for inserting")
        
a = string.split()
a.insert(n-1, word)
print(' '.join(a))

Enter the string for inserting nth word hi how you
Enter the postition whose word you want to insert 3
Enter the word for inserting are

hi how are you

50. Convert a CSV string to a list of lists.

In [18]:
string = input("Enter the csv string")
lines = string.split('\n')
result = []

for line in lines:
    field = line.split(',')
    result.append(field)
    

for i in result:
    print(i)

Enter the csv string Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK

['Name', ' Age', ' Country\\nJohn', ' 25', ' USA\\nAlice', ' 30', ' Canada\\nBob', ' 22', ' UK']

## List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [19]:
[i for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [27]:
def len_of_list(lists):
    c = 0
    for i in lists:
        c += 1
    return c
lists = [1,2,3,4,5]
print(f"The length of string is {len_of_list(lists)}")

The length of string is 5

3. Append an element to the end of a list.

In [29]:
def append_to_end(lists,element):
    lists.insert(len(lists),element)
    return lists
lists = [1,2,3,4,5]
element = 6
print(append_to_end(lists, element))

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [31]:
def insert_at_specific(lists, element,pos):
    lists.insert(pos, element)
    return lists
lists = [1,2,3,4,5]
element = 6
pos = 2
print(insert_at_specific(lists,element,pos-1))

[1, 6, 2, 3, 4, 5]

5. Remove an element from a list by its value.

In [1]:
def remove_element_by_value(lists,val):
    lists.remove(val)
    return lists
lists = [1,2,3,4,5]
val = 1
remove_element_by_value(lists,val)

[2, 3, 4, 5]

6. Remove an element from a list by its index.

In [3]:
def remove_element_by_index(lists, index):
    lists.pop(index)
    return lists
lists = [1,2,3,4,5]
index = 1
remove_element_by_index(lists,2)

[1, 2, 4, 5]

7. Check if an element exists in a list.

In [4]:
def check_if_exists(lists, element):
    if element in lists:
        return True
    else:
        return False
lists = [1,2,3,4,5]
check_if_exists(lists,4)

True

8. Find the index of the first occurrence of an element in a list.

In [7]:
def return_first_occurence(lists, element):
    return lists.index(element)
lists = [1,2,3,4,5]
element = 2
print(f"The first occurence of {element} is at index {return_first_occurence(lists,element)}")

The first occurence of 2 is at index 1

9. Count the occurrences of an element in a list.

In [13]:
def count_occurences(lists, element):
    c = 0
    for i in lists:
        if i == element:
            c += 1
    return c
lists = [1,2,3,4,5,2,2]
element = 2
print(f"The occurence of {element} is {count_occurences(lists,element)} times")

The occurence of 2 is 3 times

10. Reverse the order of elements in a list.

In [14]:
def rev_elements(lists):
    return lists[::-1]
lists = [1,2,3,4,5]
print(f"The reversed list is {rev_elements(lists)}")

The reversed list is [5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [15]:
def sort_in_ascending(lists):
    return sorted(lists)
lists = [9,8,7,6,5]
print(f"The list in sorted order is {sort_in_ascending(lists)}")

The list in sorted order is [5, 6, 7, 8, 9]

12. Sort a list in descending order.

In [18]:
def sort_in_descending(lists):
    return sorted(lists, reverse = True)
lists = [1,2,3,4,5]
print(f"The list in descending order is {sort_in_descending(lists)}")

The list in descending order is [5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [21]:
[i for i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


14. Create a list of odd numbers from 1 to 20.

In [22]:
[i for i in range(1,21) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [25]:
lists = [i for i in range(1,21) if i%2!=0]
reduce(lambda x,y: x+y, lists)

100

16. Find the maximum value in a list.

In [30]:
lists = [i for i in range(1,21) if i%2!=0]
reduce(lambda x,y: x if x>y else y, lists)

19

17. Find the minimum value in a list.

In [31]:
lists = [i for i in range(1,21) if i%2!=0]
reduce(lambda x,y: x if x<y else y, lists)

1

18. Create a list of squares of numbers from 1 to 10.

In [32]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [33]:
import random

random_lists = [random.randint(1,100) for i in range(1,11)]

print(f"The random list is: {random_lists}")

The random list is: [63, 9, 99, 24, 91, 99, 70, 72, 80, 77]

20. Remove duplicates from a list.

In [35]:
lists = [1,1,2,3,3,4,4,5,6,7]

unique_list = list(set(lists))
print(f"The list with unique elements is {unique_list}")

The list with unique elements is [1, 2, 3, 4, 5, 6, 7]

21. Find the common elements between two lists.

In [36]:
list1 = [1,2,3,4,5]
list2 = [2,3,4,5,6]
lists = []

for i in list1:
    if i in list2:
        lists.append(i)
print(f"The common elements between two lists are: {lists}")

The common elements between two lists are: [2, 3, 4, 5]

22. Find the difference between two lists.

In [45]:
list1 = [1,2,3,4,5]
list2 = [2,3,4,5,6]

lists = list(set(list1).difference(list2))

print(f"The difference between two lists is: {lists}")

The difference between two lists is: [1]

23. Merge two lists.

In [43]:
list1 = [1,2,3,4,5]
list2 = [2,3,4,5,6]

list1.extend(list2)

print(f"The combined list is: {list1}")

The combined list is: [1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [46]:
lists = [1,2,3,4,5,6,7,8]
multi_list = [i*2 for i in lists]
print(f"The multiplied list is: {multi_list}")

The multiplied list is: [2, 4, 6, 8, 10, 12, 14, 16]

25. Filter out all even numbers from a list.

In [51]:
lists = [1,2,3,4,5,6,7]
a = filter(lambda x: x%2==0, lists)
print(f"The even numbers among the given elements are: {list(a)}")

The even numbers among the given elements are: [2, 4, 6]

26. Convert a list of strings to a list of integers.

In [53]:
lists = ['1','2','3','4','5','6']
int_list = [int(x) for x in lists]
print(f"The list of integers is: {int_list}")

The list of integers is: [1, 2, 3, 4, 5, 6]

27. Convert a list of integers to a list of strings.

In [54]:
lists = [1,2,3,4,5,6]
str_list = [str(x) for x in lists]
print(f"The list of strings is: {str_list}")

The list of strings is: ['1', '2', '3', '4', '5', '6']

28. Flatten a nested list.

In [7]:
#flatten a lists of list into a single list
lst3 = [[1,2,3],[4,5,6],[7,8,9]]
[j for i in lst3 for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [55]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

30. Check if a list is sorted.

In [65]:
lists = [1,2,3,4,6]
flag = True
for i in range(len(lists)-1):
    if(lists[i] > lists[i+1]):
        flag = False
    else:
        continue
        
print(f"Is List sorted: {flag}")

Is List sorted: True

31. Rotate a list to the left by `n` positions.

In [19]:
def rotate_left(lists, pos):
    rotated =  lists[pos:] + lists[:pos]
    return rotated

lists = [1,2,3,4,5]
print(rotate_left(lists,2))

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [21]:
def rotate_left(lists, pos):
    rotated =  lists[-pos:] + lists[:-pos]
    return (rotated)

lists = [1,2,3,4,5]
print(rotate_left(lists,2))

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [ ]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [38]:
my_list = [1,2,3,4,5,6,7,8,9]
step = 3
for i in range(0,len(my_list),step):
    x = i
    print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [46]:
def largest_num(lists):
    maxi = 0
    for i in range(len(lists)):
            if lists[i] > maxi:
                maxi = lists[i]
    return maxi
lists = [11,32,23,34,15,26]
lists.remove(largest_num(lists))
print(largest_num(lists))

32

36. Replace every element in a list with its square.

In [47]:
lists = [1,2,3,4,5]
[x**2 for x in lists]

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [48]:
lists = [1,2,3,4,5]
dicti = {}
for i in range(len(lists)):
    dicti[lists[i]] = i
print(dicti)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

38. Shuffle the elements of a list randomly.

In [50]:
import random
lists = [1,2,3,4,5]
random.shuffle(lists)
print(lists)

[4, 3, 5, 2, 1]

39. Create a list of the first 10 factorial numbers.

In [53]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*fact(n-1)
    
a = [fact(i) for i in range(10)]
print(f"The list of factorial of first 10 numbers is: {a}")

The list of factorial of first 10 numbers is: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [57]:
def common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1,2,3,4,5]
list2 = [4,6,7,8,9]

if common_element(list1, list2):
    print("ELement is common")
else:
    print("No element common")

ELement is common

41. Remove all elements from a list.

In [61]:
lists = [1,2,3,4,5]
lists.clear()
print(lists)

[]

42. Replace negative numbers in a list with 0.

In [63]:
lists = [1,2,3,4,5,-3,-4,-5]
for i in range(len(lists)):
    if lists[i] <0:
        lists[i] = 0
print(lists)

[1, 2, 3, 4, 5, 0, 0, 0]

43. Convert a string into a list of words.

In [64]:
string = "Hi how are you"
print(string.split())

['Hi', 'how', 'are', 'you']

44. Convert a list of words into a string.

In [65]:
lists = ['Hi', 'how', 'are', 'you']
print(' '.join(lists))

Hi how are you


45. Create a list of the first `n` powers of 2.

In [3]:
num = int(input("Enter the number till when you want range"))
[2**i for i in range(num+1)]

Enter the number till when you want range 5

[1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [7]:
lists = ["hi how are you", "are you okay", "is there everything okay"]
max = 0
string = ''
for i in lists:
    if len(i) > max:
        max = len(i)
        string = i
print(string)

is there everything okay

47. Find the shortest string in a list of strings.

In [8]:
lists = ["hi how are you", "are you okay", "is there everything okay"]
min = 1000000
string = ''
for i in lists:
    if len(i) < min:
        min = len(i)
        string = i
print(string)

are you okay

48. Create a list of the first `n` triangular numbers.

In [11]:
num = int(input("Enter the number till which you want traingular numbers"))
a = [i*(i+1)//2 for i in range(1,num+1)]
print(a)

Enter the number till which you want traingular numbers 5

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [15]:
def check_sub(master_list,small_list):
    len_small_list = len(small_list)
    for i in range(len(master_list) - len_small_list + 1):
        if master_list[i:i+len_small_list] == small_list:
            return True
    return False
        
master_list = [1,2,3,4,5,6]
small_list = [4,5,6]
print(check_sub(master_list,small_list))

True

50. Swap two elements in a list by their indices.

In [13]:
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 4
index2 = 3

# Swap the elements at the specified indices
t = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = t

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 2, 3, 5, 4]

## Tuple

1. Create a tuple with integers from 1 to 5.

In [15]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [16]:
t = (1,2,3,4,5)
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [17]:
t = (1,2,3,4,5)
c = 0
for i in t:
    c += 1
print(f"The length of tuple is: {c}")

The length of tuple is: 5

4. Count the occurrences of an element in a tuple.

In [19]:
element = 7
t = (1,2,3,4,5)
flag = 0
for i in t:
    if i == element:
        flag += 1
    else:
        continue
if flag:
    print(f"Element {element} is present in the tuple")
else:
    print(f"Element {element} is not in the tuple")

Element 7 is not in the tuple

5. Find the index of the first occurrence of an element in a tuple.

In [20]:
t = (1,2,3,4,5)
element = 3
print(f"The first index of occurence is: {t.index(element)}")

The first index of occurence is: 2

6. Check if an element exists in a tuple.

In [21]:
t = (1,2,3,4,5)
element = 2
if element in t:
    print(f"The element {element} is present in tuple")

The element 2 is present in tuple

7. Convert a tuple to a list.

In [22]:
t = (1,2,3,4,5)
print(list(t))

[1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [29]:
lists = [1,2,3,4,5]
tuple(lists)

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [26]:
t = (1,2,3,4,5)
a,b,c,d,e= t
print(a,b,c)

1 2 3

10. Create a tuple of even numbers from 1 to 10.

In [30]:
a = tuple([i for i in range(11) if i%2==0])
a

(0, 2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [31]:
a = tuple([i for i in range(11) if i%2!=0])
a

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [32]:
t1 = (1,2,3)
t2 = (4,5,6)

t = t1+t2
t

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [34]:
t1 = (1,2,3)
t = 3*t1
t

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [38]:
t = ()
if(len(t) == 0):
    print("Tuple is empty")
else:
    print("Not Empty")

Tuple is empty

15. Create a nested tuple.

In [39]:
t = ((1,2,3),('a','b','c'),(True,False))
t

((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [40]:
t = ((1,2,3),('a','b','c'),(True,False))
t[0]

(1, 2, 3)

17. Create a tuple with a single element.

In [41]:
t = (1,)
t

(1,)

18. Compare two tuples.

In [45]:
t1 = (1,2,3)
t2 = (1,2,3)
if t1 == t2:
    print("Equal")
else:
    print("Unequal")

Equal

19. Delete a tuple.

In [48]:
t = (1,2,3)
del t

20. Slice a tuple.

In [49]:
t = (1,2,3,4,5)
t[2:]

(3, 4, 5)

21. Find the maximum value in a tuple.

In [2]:
t1 = (1,2,3,4,5)
a = max(t1)
print(a)

5

22. Find the minimum value in a tuple.

In [3]:
t1 = (1,2,3,4,5)
a = min(t1)
print(a)

1

23. Convert a string to a tuple of characters.

In [5]:
string = "Hi how are you"
a = tuple(string.split())
a

('Hi', 'how', 'are', 'you')

24. Convert a tuple of characters to a string.

In [8]:
a =list(('Hi', 'how', 'are', 'you'))
print(' '.join(a))

Hi how are you

25. Create a tuple from multiple data types.

In [9]:
a = ('a','b',1,2,3,True,False)
a

('a', 'b', 1, 2, 3, True, False)

26. Check if two tuples are identical.

In [12]:
# Step 1: Create two tuples
t1 = (1, 2, 3)
t2 = (1, 2, 3)
t3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
identical1 = t1 == t2
identical2 = t1 == t3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", identical1)
print("tuple1 and tuple3 are identical:", identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27. Sort the elements of a tuple.

In [14]:
t = (3,2,5,9,1,9)
sorted_t = tuple(sorted(t))
sorted_t

(1, 2, 3, 5, 9, 9)

28. Convert a tuple of integers to a tuple of strings.

In [16]:
t1 = (1,2,3,4,5)
t2 = tuple(str(i) for i in t1)
t2

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [17]:
t1 = ('1', '2', '3', '4', '5')
t2 = tuple(int(i) for i in t1)
t2

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [18]:
t1 = (1,2,3,4,5)
t2 = (9,8,7,6,5)
t = t1+t2
t

(1, 2, 3, 4, 5, 9, 8, 7, 6, 5)

31. Flatten a nested tuple.

In [20]:
t1 = ((1,2,3),(4,5,6),(7,8,9))
a = list(t1)
tuple([j for i in t1 for j in i])

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [4]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(5)
print(tuple(prime_list))

(2, 3, 5)

33. Check if a tuple is a palindrome.

In [7]:
t1 = (1,2,3,4,5)
t2 = (5,4,3,2,1)
if t1 == t2[::-1]:
    print("It is palindrome")
else:
    print("Not a palindrome")

It is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [8]:
a = tuple(x**2 for x in range(1,6))
a

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [11]:
t = (1,2,3,4,5,6,7)
a = []
for i in t:
    if i%2==0:
        a.append(i)
print(f"The even numbers are: {tuple(a)}")

The even numbers are: (2, 4, 6)

36. Multiply all elements in a tuple by 2.

In [12]:
t = (1,2,3,4,5,6,7)
a = []
for i in t:
    a.append(2*i)
print(f"The even numbers are: {tuple(a)}")

The even numbers are: (2, 4, 6, 8, 10, 12, 14)

37. Create a tuple of random numbers.

In [14]:
import random
a = tuple(random.randint(1,50) for i in range(1,15))
a

(13, 20, 44, 25, 33, 35, 49, 23, 7, 11, 29, 2, 24, 6)

38. Check if a tuple is sorted.

In [25]:
t = (1,2,3,4)
flag = 0
for i in range(len(t)-1):
    if t[i] > t[i+1]:
        flag += 1
    
if flag>0:
    print("Tuple is unsorted")
else:
    print("Tuple is sorted")

Tuple is sorted

39. Rotate a tuple to the left by `n` positions.

In [36]:
lists = [1,2,3,4,5,6,7]
pos = 2
lst = lists[pos:] +  lists[:pos]
print(tuple(lst))

(3, 4, 5, 6, 7, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [37]:
lists = [1,2,3,4,5,6,7]
pos = 2
lst = lists[-pos:] +  lists[:-pos]
print(tuple(lst))

(6, 7, 1, 2, 3, 4, 5)

41. Create a tuple of the first 5 Fibonacci numbers.

In [38]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 10
a = []
# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       a.append(recur_fibo(i))
print(tuple(a))

Fibonacci sequence:
(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

42. Create a tuple from user input.

In [1]:
string = input("Enter the values separated by commas")
a = tuple(string.split(','))
print(a)

Enter the values separated by commas 1,2,3,4,5,6

('1', '2', '3', '4', '5', '6')

43. Swap two elements in a tuple.

In [2]:
def swap(lists, i1, i2):
    temp = lists[i1]
    lists[i1] = lists[i2]
    lists[i2] = temp
    return lists

a = (1,2,3,4,5)
a = list(a)
print(swap(a,1,2))

[1, 3, 2, 4, 5]

44. Reverse the elements of a tuple.

In [3]:
a = (1,2,3,4,5)
print(a[::-1])

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [5]:
n = 10
a = tuple([2**x for x in range(1,n+1)])
a

(2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

46. Find the longest string in a tuple of strings.

In [2]:

string_tuple = ("cat", "doggo", "horse", "elephant", "donkey")


long_str = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", long_str)

Longest string: elephant

47. Find the shortest string in a tuple of strings.

In [4]:

string_tuple = ("cat", "doggo", "horse", "elephant", "donkey")


short_str = min(string_tuple, key=len)

# Print the longest string
print("Longest string:", short_str)

Longest string: cat

48. Create a tuple of the first `n` triangular numbers.

In [7]:
n = 10
a = tuple([n*(n+1)//2 for n in range(1,n+1)])
a

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [4]:
def had_subtuple(main_t,sub_t):
    len_subt = len(sub_t)
    for i in range(len(main_t) - len_subt + 1):
        if main_t[i:i+len_subt] == sub_t:
            return True
    return False
main_t = (1,2,3,4,5,6,7)
sub_t = (3,5)

if had_subtuple(main_t, sub_t):
    print(f"Main tuple {main_t} conains {sub_t} as subsequence")
else:
    print(f"Main tuple {main_t} does not conains {sub_t} as subsequence")

Main tuple (1, 2, 3, 4, 5, 6, 7) does not conains (3, 5) as subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [8]:
n = 15
a = tuple([i%2 for i in range(1,n+1)])
a

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set

1. Create a set with integers from 1 to 5.

In [10]:
sets = set()
sets.add(1)
sets.add(2)
sets.add(3)
sets.add(4)
sets.add(5)
sets.add(6)
sets.add(7)
sets

{1, 2, 3, 4, 5, 6, 7}

2. Add an element to a set.

In [11]:
a = {1, 2, 3, 4, 5, 6, 7}
a.add(9)
a

{1, 2, 3, 4, 5, 6, 7, 9}

3. Remove an element from a set.

In [12]:
a = {1, 2, 3, 4, 5, 6, 7}
a.remove(3)
a

{1, 2, 4, 5, 6, 7}

4. Check if an element exists in a set.

In [2]:
a = {1, 2, 3, 4, 5, 6, 7}
i = 2
if i in a:
    print("Element is present")

Element is present

5. Find the length of a set without using the `len()` function.

In [3]:
a = {1, 2, 3, 4, 5, 6, 7}
c = 0
for i in a:
    c += 1
print(f"The length of set is: {c}")

The length of set is: 7

6. Clear all elements from a set.

In [4]:
a = {1, 2, 3, 4, 5, 6, 7}
a.clear()
a

set()

7. Create a set of even numbers from 1 to 10.

In [5]:
sets = set()
for i in range(1,11):
    if i%2==0:
        sets.add(i)
print(sets)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [6]:
sets = set()
for i in range(1,11):
    if i%2!=0:
        sets.add(i)
print(sets)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [7]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

10. Find the intersection of two sets.

In [8]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
a.intersection(b)

{1, 4}

11. Find the difference between two sets.

In [1]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
a.difference(b)

{2, 3, 5, 6, 7}

12. Check if a set is a subset of another set.

In [4]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
a.issubset(b)

False

13. Check if a set is a superset of another set.

In [5]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
a.issuperset(b)

False

14. Create a set from a list.

In [6]:
a = [1,2,3,4,5,6]
b = set(a)
b

{1, 2, 3, 4, 5, 6}

15. Convert a set to a list.

In [7]:
a = {1, 2, 3, 4, 5, 6}
b = list(a)
b

[1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [11]:
a = {1, 2, 3, 4, 5, 6}
a.pop()
a

{2, 3, 4, 5, 6}


17. Pop an element from a set.

In [13]:
a = {1, 2, 3, 4, 5, 6}
print(a.pop())

1

18. Check if two sets have no elements in common.

In [14]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
if (len(a.intersection(b)) == 0):
    print("No element in common")
else:
    print("Common element present")

Common element present

19. Find the symmetric difference between two sets.

In [19]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
print(f"Symmetric difference is: {a^b}")

Symmetric difference is: {2, 3, 5, 6, 7, 8, 9}

20. Update a set with elements from another set.

In [15]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

21. Create a set of the first 5 prime numbers.

In [8]:
def prime_set(n):
    sets = set()
    for i in range(2,6):
        for j in range(2,int(i**0.5)+1):
            if i%j == 0:
                break
        else:
            sets.add(i)
    return sets
print(prime_set(6))

{2, 3, 5}

22. Check if two sets are identical.

In [20]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
print(a==b)

False

23. Create a frozen set.

In [23]:
a = {1, 2, 3, 4, 5, 6, 7}
print(f"Frozen set: {frozenset(a)}")

Frozen set: frozenset({1, 2, 3, 4, 5, 6, 7})

24. Check if a set is disjoint with another set.

In [24]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
a.isdisjoint(b)

False

25. Create a set of squares of numbers from 1 to 5.

In [26]:
n = 6
def square(i):
    return i**2
sets = set()
for i in range(n):
    sets.add(square(i))
print(sets)

{0, 1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [27]:
a = {1, 2, 3, 4, 5, 6, 7}
b = set()
for i in a:
    if i%2==0:
        b.add(i)
b

{2, 4, 6}

27. Multiply all elements in a set by 2.

In [28]:
a = {1, 2, 3, 4, 5, 6, 7}
b = set()
for i in a:
    b.add(i**2)
b

{1, 4, 9, 16, 25, 36, 49}

28. Create a set of random numbers.

In [30]:
import random
a = set()
for i in range(11):
    k = random.randint(1,100)
    a.add(k)
a

{1, 13, 16, 56, 80, 86, 90, 97, 98}

29. Check if a set is empty.

In [32]:
sets = {1,2,3,4}
set1 = set()
if not set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is not empty

30. Create a nested set (hint: use frozenset).

In [1]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1,9,8,4}
a = frozenset(a)
b = frozenset(b)
c = {a,b}
c

{frozenset({1, 4, 8, 9}), frozenset({1, 2, 3, 4, 5, 6, 7})}

31. Remove an element from a set using the discard method.

In [4]:
a = {1, 2, 3, 4, 5, 6, 7}
a.discard(2)
a

{1, 3, 4, 5, 6, 7}

32. Compare two sets.

In [9]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [7]:
string = input("Enter the string")
a = set(string)
a

Enter the string hi how are you

{' ', 'a', 'e', 'h', 'i', 'o', 'r', 'u', 'w', 'y'}

34. Convert a set of strings to a set of integers.

In [9]:
a = {'1', '2', '3', '4', '5', '6', '7', '8', '9'}
b = set()
for i in a:
    b.add(int(i))
b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

35. Convert a set of integers to a set of strings.

In [10]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9}
b = set()
for i in a:
    b.add(str(i))
b

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

36. Create a set from a tuple.

In [11]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9)
b = set(a)
b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

37. Convert a set to a tuple.

In [12]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9}
b = tuple(a)
b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

38. Find the maximum value in a set.

In [13]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9}
b = max(a)
b

9

39. Find the minimum value in a set.

In [14]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9}
b = min(a)
b

1

40. Create a set from user input.

In [3]:
a = set()

print("Enter elements for the set :")
while True:
    in_user = input("> ")  

    if in_user.lower() == 'done':
        break  

   
    a.add(in_user)

print("Final set:", a)

Enter elements for the set :

>  1
>  2
>  3
>  4
>  done

Final set: {'1', '3', '4', '2'}

41. Check if the intersection of two sets is empty.

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
if (len(set1.intersection(set2))==0):
    print("Empty")
else:
    print("Not Empty")

Not Empty

42. Create a set of the first 5 Fibonacci numbers.

In [5]:
fibonacci_set = set()

a, b = 0, 1

for i in range(6):
    fibonacci_set.add(a)

    a, b = b, a + b


print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [21]:
lists = [1,2,3,3,4,4,5,6,7,7]
a = set(lists)
a

{1, 2, 3, 4, 5, 6, 7}

44. Check if two sets have the same elements, regardless of their count.

In [23]:
#To check equal sets they should have same elements and order is same
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 3, 1, 2}
set1 = sorted(set1)
set2 = sorted(set2)
if set1 == set2:
    print("Equal sets")
else:
    print("Unequal sets")

Equal sets

45. Create a set of the first `n` powers of 2.

In [25]:
a = set()
n = 10
for i in range(n+1):
    a.add(i**2)
a

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

46. Find the common elements between a set and a list.

In [27]:
set1 = {1, 2, 3, 4, 5}
list1 = [4, 5, 6,8,2]
set2 = set(list1)
list(set1.intersection(set2))

[2, 4, 5]

47. Create a set of the first `n` triangular numbers.

In [30]:
a = set()
n = 10
for i in range(1,n+1):
    a.add(int(i*(i+1)//2))
a

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

48. Check if a set contains another set as a subset.

In [31]:

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}


is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [34]:
a = set()
n = 10
for i in range(n+1):
    a.add(i%2)
a

{0, 1}

50. Merge multiple sets into one.

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)


print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}